# Node & dependencies
node_modules/
dist/
.temp/

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Logs & temp
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/

# OS files
.DS_Store
Thumbs.db
